@tailwind base;


h1 {
    @apply text-2xl;
    @apply my-2;
}
h2 {
    @apply text-xl;
    @apply my-2;
}
h3 {
    @apply text-lg;
    @apply my-2;
}
a {
    @apply text-blue-600 underline;
}
p {
    @apply mt-1;
}

@tailwind components;

@tailwind utilities;

.triangle_right-sm {
    width: 0;
    height: 0;
    border-top: 140px solid transparent;
    border-left: 140px solid #ff5a00;
    border-bottom: 0px solid transparent;
}
.triangle_right-md {
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 200px solid #0bff12;
    border-bottom: 0px solid transparent;
}
